<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div>
    <a href="/users/logout/" class="exit"><button onclick="myFunction()"><b>Logout</b></button></a>
<script>
function myFunction() {
  alert(" <%= user.username %> You Get Logout Now");
}
</script>
    <h4>Anda Login Sebagai <%= user.username %></h4>
</div>
    <h1>Data Guru at SMK Negeri</h1><br>
        <table>
        <thead>
            <th>Nama</th>
            <th>Alamat</th>
            <th>Pelajaran</th>
            <th>Kelas</th>
            <th>Aksi</th>
        </thead>
        <tbody>
            <% for(let i=0; i < gurus.length; i++){ %>
            <tr>
                <td><%= gurus[i].nama %></td>
                <td><%= gurus[i].alamat %></td>
                <td><%= gurus[i].pelajaran %></td>
                <td class="tex"><%= gurus[i].kelas %></td>
                <td class="tex">
                    <a href="edit/<%=gurus[i].id %>"><button type="submit"><b>Edit</b></button></a>
                    <a href="/delete/<%=gurus[i].id %>"><button type="submit"><b>Hapus</b></button></a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <div class="new"><br><br>
    <p class="new"><b><i>Ingin Menambahkan Data Baru?</i></b></p>
    <a href="/create"><button type="submit"><b>Disini</b></button></a>
</div>
</body>
</html>
